@model IEnumerable<Laboratorio01.Models.ClientModel>

@{
    ViewData["Title"] = "searchLetter";
}

<h1>
    Conversaciones del DPI:
    @ViewData["DPI"]
</h1>

<h2>
    Conversación #1
</h2>
<h4>
    Decifrada
</h4>
<p>
    @ViewData["Decodificado_1"]
</p>

<br />

<h4>
    Cifrada
</h4>

<p>
    @ViewData["Codificado_1"]
</p>

<br />
<h2>
    Conversación #2
</h2>
<h4>
    Decifrada
</h4>
<p>
    @ViewData["Decodificado_2"]
</p>

<br />

<h4>
    Cifrada
</h4>

<p>
    @ViewData["Codificado_2"]
</p>

<br />
<h2>
    Conversación #3
</h2>
<h4>
    Decifrada
</h4>
<p>
    @ViewData["Decodificado_3"]
</p>

<br />

<h4>
    Cifrada
</h4>

<p>
    @ViewData["Codificado_3"]
</p>

<br />
<h2>
    Conversación #4
</h2>
<h4>
    Decifrada
</h4>
<p>
    @ViewData["Decodificado_4"]
</p>

<br />

<h4>
    Cifrada
</h4>


