@model IEnumerable<Laboratorio01.Models.ClientModel>

@{
    ViewData["Title"] = "searchLetter";
}

<h1>
    Carta del DPI:
    @ViewData["DPI"]
</h1>

<h2>
    Carta #1
</h2>
<h4>
    Decodificada
</h4>
<p>
    @ViewData["Decodificado_1"]
</p>

<br />

<h4>
    Codificada
</h4>

<p>
    @ViewData["Codificado_1"]
</p>

<br />
<h2>
    Carta #2
</h2>
<h4>
    Decodificada
</h4>
<p>
    @ViewData["Decodificado_2"]
</p>

<br />

<h4>
    Codificada
</h4>

<p>
    @ViewData["Codificado_2"]
</p>

<br />
<h2>
    Carta #3
</h2>
<h4>
    Decodificada
</h4>
<p>
    @ViewData["Decodificado_3"]
</p>

<br />

<h4>
    Codificada
</h4>

<p>
    @ViewData["Codificado_3"]
</p>

<br />
<h2>
    Carta #4
</h2>
<h4>
    Decodificada
</h4>
<p>
    @ViewData["Decodificado_4"]
</p>

<br />

<h4>
    Codificada
</h4>

<p>
    @ViewData["Codificado_4"]
</p>
